
 /* FIM  */
.meu-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.foto-usuario-button{
    background-color: #343434;
    float: left;
    border-radius: 50%;
    width: 305px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;
    border: none;
}

.foto-usuario-button:hover{
    background-color: #87E4FE;
}

.foto-usuario{
    border-radius: 50%;
    width: 300px;
    margin-left: -3px;
}

.azul-turquesa{
    color: #33E4FA;
}

.alaranjado{
    color: #BF7A47;
}

.info-usuario{
    margin-top: 130px;
    margin-left: 50px;
    font-size: 25px;
    color: #FFF;
    float: left;
}

.subtitulo-usuario{
    color: #FFF;
    float: left;
}

.mini-logo{
    width: 23px;
    float: left;

}

.mini-logo-triangulo{
    width: 23px;
    height: 20px;
    float: left;
}

.box-mochila{
    border: none;
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: #74FF92;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    margin: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.box-mochila:hover{
    background-color: #FFF;
    color: black;
    cursor: pointer;
}

.clear{
    clear: both;
}

/* MODAL */

.gray-popup {
    background-color: #D9D9D9;
    width: 800px;
    height: 400px;
}

.white-title {
    color: white; /* Cor do título em branco */
    background-color: #202A2F; /* Cor de fundo do título */
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

.custom-input {
    background-color: white !important; /* Fundo branco nos inputs */
    color: black; /* Texto preto nos inputs */
    border-radius: 10px; /* Arredondamento dos cantos dos inputs */
    border: 1px solid #ccc; /* Borda cinza nos inputs */
    font-size: 14px; /* Tamanho da fonte nos inputs */
    width: 200px; /* Largura dos inputs */
    border: 1px solid green;
    float: left;
}