.indicador-periodo {
    font-weight: bold;
    margin-bottom: 10px;
}

.linha-vertical {
    width: 5px;
    height: 700px;
    background-color: #ADADAD;
    margin-left:60%;
    border-radius: 20px;
}

.aprove-conteudos {
    float: left;
    margin-left: 20%;
}

.aceite-curadores {
    float: right;
    position: relative;
    margin-right: 26%;
    top: -700px;
}

.box-curadoria {
    padding-left: 20px;
    border: none;
    display: inline-block;
    text-align: left;
    min-width: 200px;
    height:140px;
    background-color: #1F2A2F;
    color: #FFF;
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
}

.box-curadoria:hover {
    border: 2px solid #87E4FE;
}

.btn-aceitar, .btn-rejeitar {
    margin-top: 5px;
    background-color: #74FF92;
    border: none;
    outline: none;
    width: 30px;
    height: 20px;
    border-radius: 20px;
}

.btn-rejeitar {
    margin-left: 5px;
    background-color: #FF7474;
}

.btn-aceitar:hover, .btn-rejeitar:hover {
    background-color: #FFF;
}

.fundo-materia {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 20px;
}

.fundo-materia-2 {
    background-color: aqua;
    color: black;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 20px;
}

.fundo-materia-ga {
    background-color: #8979FD;
    color: black;
    font-weight: bold;
    padding: 0px 4px;
    border-radius: 20px;
}


.titulo-box-curadoria{
    margin-top: 10px;
}

.foto-modal-aprovar-curadoria{
    margin-top: 9px;
    margin-left: 450px;
    border-radius: 50%;
    width: 300px;
}

.btn-aceitar-modal, .btn-recusar-modal {
    margin-left: 5px;
    background-color: #74FF92;
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    border-radius: 20px;
}

.btn-recusar-modal {
    margin-left: 5px;
    background-color: #FF7474;
}

.btn-aceitar-modal:hover, .btn-recusar-modal:hover {
    background-color: #FFF;
}

.foto-usuario-box-curador{
    border-radius: 50%;
    width: 60px;
    position: relative;
    bottom: 20px;
    left: 30px;
}

.scroll-container-curadoria {
    max-width: 660px;
    min-width: 660px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
}

.scroll-container-curadoria::-webkit-scrollbar {
    width: 9px;
}

.scroll-container-curadoria::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;
}

.scroll-container-curadoria::-webkit-scrollbar-track {
    background-color: #34343400;
    border-radius: 2px;
}

.titleCardbox {
    background-color: #FF7474;
  }
  
  .titleCardbox2 {
    background-color: #8979FD;
  }
  
  .titleCardbox3 {
    background-color: #F27FEF;
  }
  
  .titleCardbox4 {
    background-color: #87E4FE;
  }
  
  .titleCardbox5 {
    background-color: #FCD878;
  }
  
  .titleCardbox6 {
    background-color: #90FCDF;
  }
  
  .titleCardbox7 {
    background-color: #E9FD7A;
  }
  
  .titleCardbox-computacao-visual, .titleCardbox8{
    background-color: #7394FD;
  }
  .titleCardbox-sistemas-inteligentes, .titleCardeletivas-ec{
    background-color: #F8B076;
  }
  .titleCardbox-sistemas-de-computacao{
    background-color: #F27ED6;
  }
  .titleCardbox-sistemas-de-informacao{
    background-color: #F24430;
  } 
