#um{
    float:left;

}

#dois{
    margin-left: 120px;
    float:right;

}

#tres{
    float:left;
    margin-left: 25%;
    margin-top: 5%;
}

.branco{
    color: #FFF;
}

.arquivo-selecionado{
    padding-top: 10px;
    color: rgb(191, 122, 71);
}

.alertaEnviar{
    position: fixed;
    top: 50px;
    left: 50%;
    color: black;
    width: 300px;
    text-align: center;
    transform: translateX(-50%);
    background-color: green;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#arquivo {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.marrom{
    color: rgb(191, 122, 71);
}

.text-area{
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #ADADAD;
}

.enviar{
    color: #FFF;
    font: poppins;
    background-color: #35E3F7;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
}

.enviar:hover{
    color: #35E3F7;
    background-color: #FFF;
}

/* Botão old */
.historico-analitico{
    color: #FFF;
    background-color: #DE6B6B;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    outline: none;
    border: none;
}

.titulo-curadoria{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}

.titulo-dados{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitulo-dados{
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foto-usuario{
    border-radius: 50%;
    width: 300px;
    margin-left: -3px;
}
