/* .App {
   background-color: #343434; 
}*/

.App-logo {
  height: 10vmin;
  margin-left: 50px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleCardbox {
  background-color: #FF7474;
  border-radius: 10px;
}

.titleCardbox2 {
  background-color: #8979FD;
  border-radius: 10px;
}

.titleCardbox3 {
  background-color: #F27FEF;
  border-radius: 10px;
}

.titleCardbox4 {
  background-color: #87E4FE;
  border-radius: 10px;
}

.titleCardbox5 {
  background-color: #FCD878;
  border-radius: 10px;
}

.titleCardbox6 {
  background-color: #90FCDF;
  border-radius: 10px;
}

.titleCardbox7 {
  background-color: #E9FD7A;
  border-radius: 10px;
}

.titleCardbox-computacao-visual, .titleCardbox8{
  background-color: #7394FD;
  border-radius: 10px;
}
.titleCardbox-sistemas-inteligentes, .titleCardeletivas-ec{
  background-color: #F8B076;
  border-radius: 10px;
}
.titleCardbox-sistemas-de-computacao{
  background-color: #F27ED6;
  border-radius: 10px;
}
.titleCardbox-sistemas-de-informacao{
  background-color: #F24430;
  border-radius: 10px;
} 

.descriptionArea {
  background-color: #161F23;
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin-block: 5px;
  min-width: 280px;
}

.contentArea {
  text-decoration: none;
  background-color: #161F23;
  border-radius: 10px;
  padding: 15px;
  margin-block: 5px;
  color: white;
  margin: 5px auto;
  min-height: 200px;
}

.shareContent{
  background-color: rgba(255, 255, 255, 0.781);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 6px;
  align-content: center;
  margin-block: 5px;
}

.shareContent button {
  border: solid 2px black;
  font-size: 20px;
  margin-left: 10px;
}

.filterArea {
  background-color: #161F23;
  width: fit-content;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: bold;
  margin-block: 5px;
}

.body {
  display: flex;
}

.backConteudoDisciplina {
  background-color: #061218;
  padding: 6px;
  border-radius: 15px;
}

.tituloDisciplina {
  color: black;
  padding: 180px 8px 8px 8px;
  font-weight: 600;
}

.curadorDisciplinas {
  color: #BF7A47;
  margin-left: 15px;
}

