/*@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap") format('truetype');
}

* {
    font-weight: 500; 
    background-color: #343434;
}*/